@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans;
  }
}

/* src/index.css (junto com o Tailwind) */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: white;
}
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: black;
}
